/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY stylization below */

.wrapper {
    margin: 0 10px 0 10px;
}

html {
    font-size: 16px;
}

body {
    background-color: #f3f0e9;
}

h1, h2, h3, nav {
    font-family: 'Lato';
}

p, buttons {
    font-family: 'Karla';
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

nav a {
    color: white;
}

nav ul {
    margin: 0 auto;
    display: block;
    width: fit-content;
}

nav ul li {
    display: inline-block;
    padding: 0 20px;
    font-weight: bold;
}

/* removes underline from all links */
a:hover, a:link, a:visited { 
    text-decoration: none;
 }

header {
    background-color: black;
    width: 100%;
}

header .logo {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 23px 0;
}

/* HERO BANNER */

.hero-section {
    background-image: url("../images/hero-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
}

.hero-content {
    text-align: center;
    color: white;
    padding: 78px 10px 10px 10px;
}

h1 {
    font-weight: 1000;
    font-size: 25px;
}

.explore-btn {
    background-color: white;
    font-size: 12px;
    font-weight: 800;
    border: none;
    padding: 12px;

}

/* WELCOME SECTION*/

.welcome-section > p {
    color: #D69E3D;
    margin: 50px 0 10px;
}

.welcome-section > h2 {
    font-size: 24px;
    font-weight:600;
    margin-bottom: 25px;
}

.welcome-content > img {
    width: 100%;
    height: 100%;
}

.welcome-section > .welcome-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-size: cover;
    height: auto;
    width: 100%;
    row-gap: 10px;
    column-gap: 10px;
    object-fit: cover;
    box-sizing: border-box;
}

.welcome-content > .latte {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

.welcome-content > .coffee-beans {
    grid-row: 3;
    grid-column: 1 / 2;
}

.welcome-content > .pouring {
    grid-row: 3;
    grid-column: 2;
}

.welcome-content > .three-cups {
    grid-row: 4;
    grid-column: 1;
}

.welcome-content > .smiling {
    grid-row: 4;
    grid-column: 2;
}

/* OFFER SECTION */

.offer-section {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.offer-section > p {
    color:#D69E3D;
    text-align: center;
    margin-top: 75px;
}

.offer-section > h2 {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    margin: 10px 0 45px 0;
}

.offer-content img[src$=".svg"] {
   height: 18vh;
   width: 18vh;
   margin-bottom: 18px;
}

.offer-content h3 {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 20px;
}

.offer-content p {
    margin-bottom: 55px;
}

.fair-trade-card, .local-baked-card, .made-with-card  {
    text-align: center;
}

/* MENU + LOCATION SECTION */

.menu-loc-section {
    background-image: url("../images/coffee-shop.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: 100%;
}
